.filter-section {
  .form-control select {
    background-color: #2b3743;
    color: white;
    font-family: inherit;
    padding: 12px;
    width: 250px;
    border: none;
    border-radius: 5px;
  }
}
