header {
  // padding: 10px 20px;

  .header {
    background-color: #2b3743;
    padding: 10px 20px;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;

    .search-section {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .search-container {
    flex-direction: row !important ;

    .search-section {
      width: auto !important;
    }
  }
}
