.search-section {
  .form-control {
    width: 100%;
  }

  .form-control input {
    background-color: #2b3743;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 12px;
    font-family: inherit;
    letter-spacing: 0.5px;
    width: 100%;
    margin: 0 0 30px;
  }
}

.search-section {
  .form-control input::placeholder {
    color: white;
  }
}

@media (min-width: 768px) {
  .search-section {
    .form-control {
      width: auto;
    }

    .form-control input {
      width: auto;
      margin: 0;
    }
  }
}
